<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% load humanize %}
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/shop/base.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>{% block title %}{% endblock %}OnlineShop</title>
</head>
<body class="d-flex flex-column min-vh-100">
<script src="https://kit.fontawesome.com/42209b930c.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
{% include 'shop/user_navbar.html' %}
{% include 'shop/navbar.html' %}
     <div class="" style="padding: 3em;">
         <p class="menu-title">장바구니</p>
     </div>

    <div class="content">
        {% ifnotequal cart.get_cart_items.count 0 %}
        <div class="cart-custom text-center">
            {% csrf_token %}
            <table class="table my_custom_table">
                <thead>
                <tr>
                    <th class="text-center"><input type="checkbox" onclick="return false;"></th>
                    <th class="text-center" style="width: 17%;"></th>
                    <th style="width: 35%;">상품정보</th>
                    <th style="width: 10%;">수량</th>
                    <th style="width: 10%;">가격</th>
                    <th style="width: 13%;"></th>
                </tr>
                </thead>
                <tbody>
                {% for item in cart.get_cart_items %}
                    <tr>
                        <td>
                            <label>
                                <input type="checkbox" name="active_check" value="{{ item.id }}" {% if item.active %}checked{% endif %}/>
                            </label>
                        </td>
                        <td style="width: 17%;">
                            <img src="{{ item.product.get_product_image }}" alt="" class="float-left" style="width: auto; height: 150px;">
                        </td>
                        <td class="text-left" style="width: 35%;"><br>
                            <h3>{{ item.product.name }}</h3><br>
                            <p>{{ item.product.content }}</p>
                        </td>
                        <td class="text-left" style="width: 10%;">
                            <p id="quantity_{{ item.id }}">{{ item.quantity }}개</p>
                        </td>
                        <td class="text-left" style="width: 10%;">
                            <p id="price_{{ item.id }}">{{ item.get_sub_total|intcomma }}원</p>
                        </td>
                        <td style="width: 13%">
                            <a class="btn custom_a" name="plus_item" value="{{ item.id }}">
                                <i class="fas fa-plus-circle custom_icon"></i></a>
                            <a class="btn custom_a" name="minus_item" value="{{ item.id }}">
                                <i class="fas fa-minus-circle custom_icon"></i></a>
                            <a class="custom_a" href="{% url 'cart:delete_cart' item.product.id %}">
                                <i class="fas fa-trash-alt custom_icon"></i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="confirm-custom">
                <p align="left">결제금액</p>
                <p class="menu-title">{{ cart.get_cart_total|intcomma }}원</p>
                <p><button class="btn-order btn-block btn-outline-danger" onclick='location.href="{% url 'order:order_cart' %}"'>주문하러 가기</button></p>
                <p><button class="btn-shopping btn-block" onclick='location.href="{% url 'shop:index' %}"'>쇼핑 계속하기</button></p>
            </div>
        </div>
        {% else %}
        <h3 style="text-align: center;">담은 상품이 없습니다.</h3>
        {% endifnotequal %}

        {% if error_message %}
            <h1 style="color:red;"><strong>{{ error_message }}</strong></h1>
        {% endif %}
    </div>
{% for message in messages %}
                <div class="alert {{ message.tags }} alert-auto-dismissible alert-dismissible notification-container text-center" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message }}
                </div>
{% endfor %}


<script type="text/javascript">
    window.setTimeout(function() {
        $(".alert-auto-dismissible").fadeTo(500, 0).slideUp(500, function(){
            $(this).remove();
        });
    }, 3000);
</script>
{% include 'user/footer.html' %}
</body>
<script>
    function AddComma(num){
        var regexp = /\B(?=(\d{3})+(?!\d))/g;
        return num.toString().replace(regexp, ',');
    }

    $("input[name=active_check]").change(function(){
        if($(this).is(":checked")){
            pk = $(this).attr("value");
            $.ajax({
              type: "POST",
              url: "{% url 'cart:active_item' %}",
              data: {'pk': pk, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
              dataType: "json",
              success: function(response){
                console.log("성공");
              },
              error: function(request, status, error){
                console.log("실패");
              }
            });
        }
        else{
            pk = $(this).attr("value");
            $.ajax({
              type: "POST",
              url: "{% url 'cart:disable_item' %}",
              data: {'pk': pk, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
              dataType: "json",
              success: function(response){
                console.log("성공");
              },
              error: function(request, status, error){
                console.log("실패");
              },
            });
        }
    });
    $("a[name=plus_item]").click(function(){
        pk = $(this).attr("value");
        $.ajax({
            type: "POST",
            url: "{% url 'cart:plus_cart' %}",
            data: {'pk': pk, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
            dataType: "json",
            success: function(response){
                for (each in response.all_item){
                    quantity = response.all_item[each].quantity;
                    sub_price = AddComma(response.all_item[each].each_price * quantity);
                    $("#quantity_"+response.all_item[each].id).html(quantity+"개");
                    $("#price_"+response.all_item[each].id).html(sub_price+"원");
                }
            },
            error: function(request, status, error){
                console.log("실패");
            }
        });
    });
    $("a[name=minus_item]").click(function(){
        pk = $(this).attr("value");
        $.ajax({
            type: "POST",
            url: "{% url 'cart:minus_cart' %}",
            data: {'pk': pk, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
            dataType: "json",
            success: function(response){
                for (each in response.all_item){
                    quantity = response.all_item[each].quantity;
                    sub_price = AddComma(response.all_item[each].each_price * quantity);
                    $("#quantity_"+response.all_item[each].id).html(quantity+"개");
                    $("#price_"+response.all_item[each].id).html(sub_price+"원");
                }
            },
            error: function(request, status, error){
                console.log("실패");
            }
        });
    });
</script>