{% load static %}
<script src="https://kit.fontawesome.com/42209b930c.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{% static 'css/cart/custom.css' %}">
<div class="navbar-header">
    <a class="navbar-brand" href="{% url 'shop:index' %}"><img src="{% static 'images/로고.png' %}"></a>
</div>

<h1 style="color: purple;"> {{ request.user.username }}의 장바구니 </h1>
{% ifnotequal cart.get_cart_items.count 0 %}
<div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
    <form action="{% url 'cart:index' %}" method="POST">
        {% csrf_token %}
        <table class="table my_custom_table">
            <tbody>
            {% for item in cart.get_cart_items %}
                <tr>
                    <td>
                        {% if item.active %}
                        <label>
                            <input type="checkbox" name="active_check" value="{{ item.id }}" checked>
                        </label>
                        {% else %}
                        <label>
                            <input type="checkbox" name="active_check" value="{{ item.id }}">
                        </label>
                        {% endif %}
                    </td>
                    <td>
                        <img src="{{ item.product.get_product_image }}" alt="" class="float-left" style="width: auto; height: 150px;">
                    </td>
                    <td class="text-left">
                        <h3>{{ item.product.name }}</h3>
                        Quantity: {{ item.quantity }}<br>
                        Sub Price: {{ item.get_sub_total }}
                    </td>
                    <td>
                        <a href="{% url 'cart:plus_cart' item.product.id %}" class="custom_a">
                            <i class="fas fa-plus-circle custom_icon"></i></a>&nbsp;
                        <a href="{% url 'cart:minus_cart' item.product.id %}" class="custom_a">
                            <i class="fas fa-minus-circle custom_icon"></i></a>&nbsp;
                        <a href="{% url 'cart:delete_cart' item.product.id %}"  class="custom_a">
                            <i class="fas fa-trash-alt custom_icon"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <br><br><input class="btn btn-success" type="submit" value="적용">
    </form>
</div>
<button onclick='location.href="{% url 'order:order_cart' %}"'>주문하러 가기</button>
{% else %}
<h3>담은 상품이 없습니다.</h3>
{% endifnotequal %}

{% if error_message %}
    <h1 style="color:red;"><strong>{{ error_message }}</strong></h1>
{% endif %}