a {
    text-decoration: none;
}

.mypage {
    color: black;
}

.menu-title{
    font-size: 2.5em;
    text-align: center;
    color:#4D8EEF;
    padding: 0.5em;
    font-weight: bold ;
}

.navbar {
    border-radius: 0;
}

.menu {
    padding: 1em 25em 5em;
}

.menu > .nav > .nav-item > .nav-link{
    font-size: 1.2em;
    color: #505050;
}

.menu > .nav > .nav-item > .nav-link.active{
    font-size: 1.2em;
    text-decoration-line: underline;
    text-decoration-color: #4D8EEF;
    color: #4D8EEF;
    font-weight: bold;
}

.menu > .nav > .nav-item > a:hover {
    background: none;
}

.container {
  width: 1120px;
  max-width: none !important;
}

div .detail-product{
    margin: 0em 6em;
    display: flex;
}

div .content-product {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.image-product{
    width: 50%;
}

.btn-cart {
    background: #4D8EEF;
    color: white;
    outline: none;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    padding: 0.8em;
    width: 70%;
}

.main_image{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #eee;
    width: 100%;
    object-fit: contain;
    overflow: hidden
}

.thumbnail_images ul{
    list-style: none;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-top:10px
}

.thumbnail_images ul li{
    margin: 5px;
    padding: 10px;
    border: 2px solid #eee;
    cursor: pointer;
    transition: all 0.5s
}

.thumbnail_images ul li:hover{
    border: 2px solid #000
}
.content p{
    font-size: 12px
}

.right-side{
    position: relative
}
