{% extends "user/base.html" %}
{% block title %}
UserDelete
{% endblock title %}

{% block content %}
    <h1 style="text-align: center; padding-bottom: 50px;">회원 탈퇴</h1>
    <div class="container" style="width: 400px; padding: 50px; border: #d3d6d9 solid 1px; border-radius: 25px;">
    <form method="POST" >
    {% csrf_token %}
    <p><small><strong>{{ user.username }}</strong> 회원님의 계정이 삭제됩니다.<br>회원 관련 정보 및 구매 내역 모두 삭제됩니다.<br>본인인증을 위해 비밀번호를 입력해주세요.</small></p><br>
    <div>
        <label name="label_password" for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
        {{ form.password }}
        {% if form.password.errors %}
            <script type="text/javascript">
                document.getElementsByName('password')[0].setAttribute('class', 'form-control is-invalid')
            </script>
            {% for error in form.password.errors %}
                <div class="invalid-feedback">
                    <small>{{ error }}</small>
                </div>
            {% endfor %}
        {% endif %}
    </div>

    <label>
        <input type="checkbox" name="ck" onClick="checkDisable(this.form)">
        <span>유의사항 동의</span>
    </label>
    <br><br>
    <div class="float-end">
        <button type="button" class="btn btn-secondary" onclick='location.href="{% url 'user:profile' user.pk %}"'>취소</button>
        <button type="submit" class="btn btn-primary" name="bt" style="background-color: #6498e7; border: none;" disabled>탈퇴하기</button>
    </div>
    </form>

        <script type="text/javascript">
            function checkDisable(form) {
                if (form.ck.checked == true) {
                    form.bt.disabled = false;
                } else {
                    form.bt.disabled = true;
                }
            }
        </script>
    </form>
    </div>

{% endblock content %}