{% extends "user/base.html" %}

<h1>Here is Login page</h1>
{% block title %}
Log in
{% endblock title %}

{% block content %}
<div class="auth">
    <form action="{% url 'user:login' %}" method='post'>
        {% csrf_token %}
        <input type="input" name="username" placeholder="username">
        <input type="password" name="password" placeholder="password">
        <input type="submit" value="Login">
    </form>
</div>
<div class="auth_link">
    <p>계정이 없다면? <a href="{% url 'user:signup' %}">회원가입</a></p>
</div>
{% endblock content %}