{% extends "user/base.html" %}

{% block title %}
Profile
{% endblock title %}

{% block content %}
    <div class="list">
        <h1>마이페이지</h1><br><br>
        <p>이메일주소 : {{ user.email }}</p>
        <p>회원이름 : {{ user.username }}</p>
        <p>성별 : {{ user.gender }}</p>
        <p>핸드폰번호 : {{ user.phone_number }}</p>
        <p>주소 : {{ user.address }}</p>
        </div>
    <br><br>

    <ul>
        {% csrf_token %}
        <button class="btn btn-primary" onclick='location.href="{% url 'user:update' user.pk %}"'>유저정보수정</button>
        <button class="btn btn-primary" onclick='location.href="{% url 'user:delete' user.pk %}"'>회원탈퇴</button>
        <button class="btn btn-primary" onclick='location.href="{% url 'user:change_pw' user.pk %}"'>패스워드 변경</button>
    </ul>

{% endblock content %}