{% extends "user/base.html" %}
{% block title %}
<<<<<<<
Sign Up
=======
Sign Up 
>>>>>>>
{% endblock title %}

{% block content %}
    <h1>SignUp</h1>
<div class="auth">
    <form action="{% url 'user:signup'%}" method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="fieldWrapper">
                {{ field.errors }}
                {{ field.label }}
                {{ field }}
            </div>
        {% endfor %}
        <input type="submit" value="Sign up">
    </form>
</div>

<div class="auth_link">
    <p><a href="{% url 'user:login' %}">로그인</a></p>
</div>
{% endblock content %}