{% extends "user/base.html" %}
{% block title %}
UserUpdate
{% endblock title %}

{% block content %}
    <div class="auth">
    <form action="{% url 'user:update' user.pk %}" method="post">
        {% csrf_token %}
        {% for field in user_form %}
            {{ field.errors }}
            {{ field }}
        {% endfor %}
        {{ profile_form.phone_number }}
        {{ profile_form.address }}
        {{ profile_form.gender }}
        <input type="submit" value="업데이트">
    </form>
    </div>
{% endblock content %}