{% load static %}
<div class="navbar-header">
    <a class="navbar-brand" href="{% url 'shop:index' %}"><img src="{% static 'images/로고.png' %}"></a>
</div>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/user/main.css' %}">
    <title>Order detail</title>
</head>
<body>
    <h1 style="color: purple;"> {{ user.username }}의 주문 </h1>
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
        <table class="table my_custom_table">
            <tbody>
            {% for item in cart.get_cart_items %}
                <tr>
                    <td>
                        <img src="{{ item.product.get_product_image }}" alt="" class="float-left" style="width: auto; height: 150px;">
                    </td>
                    <td class="text-left">
                        <h3>{{ item.product.name }}</h3>
                        Quantity: {{ item.quantity }}<br>
                        Sub Price: {{ item.get_sub_total }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <h2>=======================> Total Price : {{ cart.get_cart_total|floatformat }}</h2>

    <div class="auth">
        <p><b>**주문자 정보**</b></p>
        <form action="{% url 'order:order_cart' %}" method="post">
            {% csrf_token %}
            {% for field in form %}
                {{ field.errors }}
                {{ field.label }}
                {{ field }}
            {% endfor %}
            <input type="submit" value="업데이트">
            {{ context }}
        </form>
    </div>

    <button onclick='location.href="{% url 'order:order_final' %}"'>주문</button>

</body>
</html>