{% extends "order/base.html" %}
{% block title %}
Order
{% endblock title %}
{% block content %}
<h1 style="color: purple;"> {{ request.user.username }}의 주문내역 </h1>
{% if orders %}
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
        {% for order in orders %}
        <hr/><h3>{{ order.date_ordered | date:"Y-m-d H:i" }}</h3>
        <table class="table my_custom_table">
            <tbody>
                <tr>
                {% for item in order.get_order_items %}
                    <td>
                        <img src="{{ item.product.get_product_image }}" alt="" class="float-left rounded custom_image" style="width: auto; height: 150px;">
                    </td>
                    <td class="text-left"><br>
                        <h3>{{ item.product.name }}</h3>
                        Quantity: {{ item.quantity }}개g
                        <br>
                        Price: {{ item.get_total }}원
                    </td>
                {% endfor %}
                </tr>
            </tbody>
        </table>
        <h2>total price: {{ order.get_order_total }}원</h2>
        {% endfor %}
    </div>
{% else %}
<h3>You don't order</h3>
{% endif %}
{% endblock content %}
