{% extends "order/base.html" %}
{% load humanize %}
{% load static %}
{% load mathfilters %}

{% block title %}
Order
{% endblock title %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/order/ordercheck.css' %}">
{% if orders %}
{% for order in orders %}
<div class="card mt-50 mb-50">
    <div class="col d-flex"><span class="text-muted" id="orderno">주문번호 #{{ order.get_order_number }}</span></div>

    <div class="title mx-auto"> Thank you for your order! </div>
    <div class="main"> <span id="sub-title">
        <p><b>결제 날짜</b></p>
        <p>{{ order.date_ordered | date:"Y-m-d H:i" }}</p></span>
        {% for item in order.get_order_items %}
            <div class="row row-main">
                        <div class="col-2"> <img class="img-fluid" src="{{ item.product.get_product_image }}"> </div>
                        <div class="col">
                            <div class="row d-flex">
                                <p><b>{{ item.product.name }}</b></p>
                            </div>
                            <div class="row d-flex">
                                <p class="text-muted">옵션 : </p>
                            </div>
                        </div>
                        <div class="col d-flex justify-content-center">
                            <p>{{ item.quantity }}개</p>
                        </div>
                        <div class="col d-flex justify-content-end">
                            <p><b>{{ order.get_order_total|add:order.shipping|intcomma }}원</b></p>
                        </div>
            </div>
            <div class="row">
                <p>배송비 : {{ order.shipping|intcomma }}원</p>
            </div>
        {% endfor %}
        <hr>
        <div class="total">
            <div class="row">
                <div class="col"> <b> Total:</b> </div>
                <div class="col d-flex justify-content-end"> <b>{{ order.get_order_total|add:order.shipping|intcomma }}원</b> </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% else %}
<h3 style="text-align: center;">주문 내역이 없습니다.</h3>
{% endif %}
{% endblock content %}
