{% extends "admin/base_site.html" %}

{% block content %}

<div class="container-fluid">

    <div class="row">

        <div class="col-sm-12 col-md-7">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form method='POST' action="" enctype='multipart/form-data'>
                        {% csrf_token %}
                        {% include 'admin/form_template.html' %}
                        <input type="submit" value="Submit">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}