{% extends "shop/base.html" %}
{% load humanize %}
{% block title %}
Detail
{% endblock title %}

{% block content %}
<div class="container detail-product">
    <div>
    {% for image in product_images %}
        <img src="{{ image.image.url }}" style="width: auto; height: 300px;">
    {% endfor %}
    </div>
    <h3> Description: {{ product.content }}</h3>
    <h3> Price: {{ product.price|intcomma }}원</h3>
    <h3> Stock: {{ product.stock }}</h3>
    {% if user.is_authenticated %}
        <button onclick='location.href="{% url 'cart:add_cart' product.id %}"'>장바구니</button>
    {% endif %}
    <!--<button onclick='location.href="{% url 'order:order_product' product.id %}"'>주문</button>-->

    {% if error_message %}
        <h1 style="color:red;"><strong>{{ error_message }}</strong></h1>
    {% endif %}
</div>
{% endblock content %}