{% extends "shop/base.html" %}
{% block title %}
Detail
{% endblock title %}

{% block content %}
    <div class="navbar-header">
        <a class="navbar-brand" href="{% url 'shop:index' %}"><h1>GOTROOT goods site </h1></a>
    </div>
    <h1> [ {{ product.category}} ] {{ product.name }}</h1>
        <div>
        {% for image in product_images %}
            <img src="{{ image.image.url }}" style="width: auto; height: 300px;">
        {% endfor %}
        </div>
    <h3> Description: {{ product.content }}</h3>
    <h3> Price: {{ product.price }}</h3>
    <h3> Stock: {{ product.stock }}</h3>
    <button onclick='location.href="{% url 'cart:add_cart' product.id %}"'>장바구니</button>
    <!--<button onclick='location.href="{% url 'order:order_product' product.id %}"'>주문</button>-->

    {% if error_message %}
        <h1 style="color:red;"><strong>{{ error_message }}</strong></h1>
    {% endif %}
{% endblock content %}