{% load tags %}
{% ifnotequal user.username ' ' %}
    <p> {{ user.username }} 님 환영합니다.
    <button onclick='location.href="{% url 'user:profile' user.pk %}"'>마이페이지</button>
    <button onclick='location.href="{% url 'user:mybag' %}"'>장바구니</button>
    <button onclick='location.href="{% url 'user:logout' %}"'>로그아웃</button>
    </p>
{% else %}
    <p> 로그인하세요. </p>
    <button onclick='location.href="{% url 'user:signup' %}"'>회원가입</button>
    <button onclick='location.href="{% url 'user:login' %}"'>로그인</button>
{% endifnotequal %}
<div class="row mt-5">

<div class="goods-container container-fluid">

    <div class="row">
        <div class="col-sm-12">
            <h1>GOTROOT goods site </h1>
        </div>
        {% if all_products %}
            {% for product in all_products %}
            <div class="col-sm-4 col-lg-2" style="float: left; width: 33%;">
                <div class="thumbnail">
                    <a href="{% url 'shop:detail' product.pk %}">
                        <img src="{{ product|image_tag }}" class="img-fluid" style="width: auto; height: 300px;">
                    </a>
                    <div class="caption">
                        <h2>{{ product.name }}</h2>
                        <h4>$ {{ product.price }}</h4>
                    </div>
                </div>
            </div>
            {% cycle '' '' '' '' '' '<div class="clearfix visible-lg"></div>' %}
        {% endfor %}
        {% else %}
            <h3>You don't have any products</h3>
        {% endif %}
    </div>
</div>