{% extends "shop/base.html" %}
{% load tags %}
{% load humanize %}
{% block title %}
Shop
{% endblock title %}
{% block content %}
    <div class="goods-container container-fluid" style="font-family: 'Century Gothic'">
        <div class="menu">
            <p class="menu-title">{% if category_name %}{{ category_name }}{% else %}Category{% endif %}
            <ul class="nav justify-content-center nav-fill">
            {% for category in categories %}
                <li class="nav-item">
                    <a class="nav-link {% ifequal category_name category.title %}active{% endifequal %}" href="{% url 'shop:category' category.id %}">{{ category.title }}</a></li>
            {% endfor %}
            </ul>
        </div>
        <div class="row">
            {% if all_products %}
                {% for product in all_products %}
                <div class="col-sm-4 col-sm-2" style="float: left; width: 300px;">
                    <div class="thumbnail">
                        <a href="{% url 'shop:detail' product.pk %}">
                            <img src="{{ product|image_tag }}" class="img-fluid" style="width: auto; height: 300px;">
                        </a>
                        <div class="caption">
                            <h4>{{ product.name }}</h4>
                            <h5>{{ product.price|intcomma }}원</h5>
                        </div>
                    </div>
                </div>
                {% cycle '' '' '' '' '' '<div class="clearfix visible-lg"></div>' %}
            {% endfor %}
            {% else %}
                {% if query %}
                <h3> '{{ query }}'에 대한 상품은 존재하지 않습니다. </h3>
                {% else %}
                <h3>등록된 상품이 없습니다.</h3>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock content %}