{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/shop/base.css' %}">
<link rel="stylesheet" href="{% static 'css/cart/custom.css' %}">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<nav class="navbar navbar-expand-sm bg-white" style="padding: 0px; font-family: 'Nanum Gothic', sans-serif;">
    <div class="container-fluid" style="width: 1000px;">
        <a class="navbar-brand" href="{% url 'shop:index' %}"><img src="{% static 'images/로고.png' %}" style="width: auto; height: 35px;"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav navbar-right">
                <li class="">
                   <form class="d-flex" role="search" method="get" action="{% url 'shop:index' %}">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="q" value="{{ request.GET.q }}">
                    <button class="btn btn-secondary" type="submit">Search</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>
