{% load static %}
{#<link rel="stylesheet" href="{% static 'css/shop/base.css' %}">#}
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<nav class="navbar navbar-expand-sm bg-light" style="width: 1200px; max-width: none !important; padding: 0px;margin-bottom: 0px; font-family: 'Nanum Gothic', sans-serif;">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}

                <li class="">
                    <a href="{% url 'cart:index' %}">
                        <i class="fa-solid fa-xl fa-cart-shopping custom_icon"></i>
                    </a>
                </li>

                <li class="">
                    <a class="mypage" href="{% url 'user:profile' user.pk %}"> 마이페이지 </a>
                </li>
                <li class="">
                    <a class="mypage" href="{% url 'order:index' %}"> 주문내역 </a>
                </li>
                <li class="">
                    <a class="mypage" href="{% url 'user:logout' %}"> 로그아웃 </a>
                </li>


                {% else %}
                <li class="">
                    <a href="{% url 'user:signup' %}">
                        <i class="fa-solid fa-user-plus fa-xl custom_icon"></i> 회원가입
                    </a>
                </li>
                <li class="">
                    <a href="{% url 'user:login' %}">
                        <i class="fa-solid fa-right-from-bracket fa-xl custom_icon"></i> 로그인
                    </a>
                </li>

                {% endif %}
            </ul>
        </div>
    </div>
</nav>
