div .cart-custom{
    padding: 0 5em;
    display: flex;
}

.confirm-custom{
    width: 40%;
    float: right;
    padding: 4em;
}

.my_custom_table {
    border-spacing: 10px 0px;
    float: left;
    width: 60%;
}

.custom_a {
    text-decoration: none;
}

.custom_icon {
    text-decoration: none;
    color: #868e96 !important;
}

.menu-title{
    font-size: 2.5em;
    text-align: center;
    color: #4D8EEF;
    padding: 0.3em;
    font-weight: bold;
}

.btn-order {
    background: #4D8EEF;
    color: white;
    outline: none;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    padding: 1em;
}

.btn-shopping {
    background: white;
    border-width: thin;
    border-radius: 10px;
    font-weight: bold;
    padding: 1em;
}